@import '../../helpers/colors.scss';

.create-mc {
    width: 100%;
    min-height: 100vh;

    .back-header {
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        background: $backgroundColor;
        padding: 0 16px;

        .back-button {
            height: 60px;
            line-height: 60px;
            cursor: pointer;
        }
    }

    .upload-cover {
        width: 100%;
        height: 290px;
        background: $mainColor;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-size: 100%;
        background-position: center;
        background-blend-mode: exclusion;

        .upload-input {
            display: none;
        }

        .cover-label {
            font-size: 1.25em;
            font-weight: 700;
            color: white;
            cursor: pointer;

            img {
                width: 22px;
            }

            div {
                font-size: 16px;
            }
        }
    }

    .constructor {
        box-sizing: border-box;
        width: 100%;
        padding: 16px;

        .forms {
            width: 98%;

            .ms-input {
                width: 460px;
                height: 30px;
                line-height: 30px;
                padding: 4px 8px;
                font-size: 16px;
                margin-top: 20px;
            }

            .price-input {
                width: 200px;
            }

            .ms-textarea {
                margin-top: 35px;
                border-radius: 4px;
                padding: 8px 8px;
                font-size: 14px;
                width: 460px;
                height: 140px;
            }

            .select-categories {
                margin-top: 20px;
                display: flex;

                .tag-selector {
                    width: 320px;
                    cursor: pointer;
                }
            }
        }

        .videos {
            width: 100%;
            margin-top: 100px;

            .select-video {
                margin: 0 auto;
                text-align: center;
                width: 300px;
                border-radius: 8px;
                height: 40px;
                line-height: 40px;
                cursor: pointer;
                border: 2px dashed #020202;
                margin-bottom: 40px;

                div {
                    input{
                        outline: none;
                        :focus {
                            outline: none !important;
                        }
                    }
                }
            }
        }
    }

    .ms-btn-long {
        width: 80%;
        min-width: 241px;
        background: #020202;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}