@import '../../helpers/typography.scss';
@import '../../helpers/colors.scss';

.master-card {
    width: 900px;
    height: 240px;
    margin-bottom: 30px;
    background: $white;
    // border-radius: 10px 30px 30px;
    cursor: pointer;
    // border: 1px solid #c3c3c3;

    .master-class-cover {
        width: 36%;
        height: 210px;
        border-radius: 10px 0 0 30px;
        margin-left: 1px;
    }

    .mc-info {
        width: 56%;
        height: 160px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 10px;

        .tags {
            margin: 8px 0;

            .tag-chip {
                height: 11px;
                line-height: 11px;
                font-size: 10px;
                padding: 4px 6px;
                margin-right: 4px;
            }
        }

        .mc-title {
            font-size: $header2;
            // padding: 5px 0 0;
            font-weight: bold;
        }

        .ms-flex-inline {

            .author {
                margin-left: 6px;
                font-size: $paragraph-sm;
                font-weight: 500;
                color: #696767;
            }

            .numbers {
                margin-top: 4px;
                font-size: $paragraph-sm;
                color: #696767;
                font-weight: 500;
            }

            .dot {
                font-size: 18px;
                padding: 2px 3px 0;
                color: #696767;
            }
        }

        .description {
            font-size: 12px;
            margin: 4px 0 10px;
            line-height: 18px;
            font-weight: 100;
        }
    }
}