.chip {
    background: #E6E6E6;
    border-radius: 8px;
    cursor: pointer;
}

.default {
    margin-right: 4px;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 4px 8px;
}

.selected {
    background: #222222;
    color: #ffffff;
}