@import '../../helpers/colors.scss';

.masterclass-wrapper {
  width: 100%;
  min-height: 100vh;

  .ms-justify-end {
    width: 100%;
  }

  .back-header {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background: $backgroundColor;
    padding: 0 16px;

    .back-button {
        height: 60px;
        line-height: 60px;
        cursor: pointer;
    }
  }

  .cover {
    width: 100%;
    height: 300px;
    image-rendering: auto;
  }

  .body {
    box-sizing: border-box;
    padding: 0 43px;

    .title {
      font-size: 24px;
      font-weight: 600;
      margin-top: 30px;
    }

    .description {
      font-size: 14px;
      margin: 10px 1px;
    }
  }
}