@import '../../helpers/colors.scss';

.profile-page-component {
    width: 100%;

    .profile-header {
        width: 100%;
        position: fixed;
    }

    .cover {
        width: 100%;
        height: 300px;
        background-size: 100%;
        background-image: url('../../images/default-cover.jpeg');
        background-attachment: fixed;
    }

    .profile-page-wrapper {
        width: 98%;
        margin: 0 auto;

        .masterclasses {
            width: 90%;
            margin: 60px auto;
        }

        .user-data {
            .profile-avatar {
                width: 80px;
                height: 80px;
                position: relative;
                top: -40px;
                border: 4px solid $white;
                transition: height .5s ease-in-out, width .5s ease-in-out, position 1s ease-in-out;
            }

            .user-info {
                width: 670px;

                .username {
                    font-size: 24px;
                    font-weight: 900;
                    padding: 20px 10px 0px;
                    transition: font-size .5s ease-in-out;
                    color: $mainColor;
                }
    
                .page-path {
                    font-size: 16px;
                    padding: 20px 10px 0px;
                    color: $mainColor;
                    // transition: font-size .5s ease-in-out;
                }
            }

            .create-mc-btn {
                background: $mainColor;
                color: $white;
                margin-top: 40px;
                text-decoration: none;
                margin-right: 20px;
                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}