@import '../../helpers/colors.scss';

.search {
    border: 1px solid $mainColor;
    border-radius: 4px;
    height: 24px;
    width: 180px;
    box-sizing: border-box;
    padding: 2px 6px;
}

.search-bar {
    border: none;
    height: 100%;
    width: 100%;
    background: transparent;
}

input:focus {
    outline: none;
}

.search-icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}