@import '../../helpers/colors.scss';

.login-page {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../images/bg2.jpg');
  background-size: 100%;
  // background-image: url('https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');

  .input {
    width: 260px;
    border: 1px solid $mainColor;
    border-radius: 8px;
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 6px;
    background: #F5F5F5;

    &:focus {
      background: $white;
    }
  }

  .btn {
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
    color: $white;
    padding: 4px 10px;
    border-radius: 4px;
    background: rgb(0, 110, 255);
  }

  .btn-link {
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
    color: $white;
  }

  .forget-psd {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 110, 255);
    font-size: 12px;
    margin-top: 10px;
  }
}